@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@-webkit-keyframes heart_restaurant {
  0% {
    background: linear-gradient(0deg, #FF79DA, #9356DC 0%, white 0%);
    -webkit-background-clip: text;
    color: transparent;
    font-weight: bold;
  }
  10% {
    background: linear-gradient(0deg, #FF79DA, #9356DC 10%, white 10%);
    -webkit-background-clip: text;
    color: transparent;
    font-weight: bold;
  }
  20% {
    background: linear-gradient(0deg, #FF79DA, #9356DC 20%, white 20%);
    -webkit-background-clip: text;
    color: transparent;
    font-weight: bold;
  }
  30% {
    background: linear-gradient(0deg, #FF79DA, #9356DC 30%, white 30%);
    -webkit-background-clip: text;
    color: transparent;
    font-weight: bold;
  }
  40% {
    background: linear-gradient(0deg, #FF79DA, #9356DC 40%, white 40%);
    -webkit-background-clip: text;
    color: transparent;
    font-weight: bold;
  }
  50% {
    background: linear-gradient(0deg, #FF79DA, #9356DC 50%, white 50%);
    -webkit-background-clip: text;
    color: transparent;
    font-weight: bold;
  }
  60% {
    background: linear-gradient(0deg, #FF79DA, #9356DC 60%, white 60%);
    -webkit-background-clip: text;
    color: transparent;
    font-weight: bold;
  }
  70% {
    background: linear-gradient(0deg, #FF79DA, #9356DC 70%, white 70%);
    -webkit-background-clip: text;
    color: transparent;
    font-weight: bold;
  }
  80% {
    background: linear-gradient(0deg, #FF79DA, #9356DC 80%, white 80%);
    -webkit-background-clip: text;
    color: transparent;
    font-weight: bold;
  }
  90% {
    background: linear-gradient(0deg, #FF79DA, #9356DC 90%, white 90%);
    -webkit-background-clip: text;
    color: transparent;
    font-weight: bold;
  }
  100% {
    background: linear-gradient(0deg, #FF79DA, #9356DC 100%, white 100%);
    -webkit-background-clip: text;
    color: transparent;
    font-weight: bold;
  }
}
@keyframes heart_restaurant {
  0% {
    background: linear-gradient(0deg, #FF79DA, #9356DC 0%, white 0%);
    -webkit-background-clip: text;
    color: transparent;
    font-weight: bold;
  }
  10% {
    background: linear-gradient(0deg, #FF79DA, #9356DC 10%, white 10%);
    -webkit-background-clip: text;
    color: transparent;
    font-weight: bold;
  }
  20% {
    background: linear-gradient(0deg, #FF79DA, #9356DC 20%, white 20%);
    -webkit-background-clip: text;
    color: transparent;
    font-weight: bold;
  }
  30% {
    background: linear-gradient(0deg, #FF79DA, #9356DC 30%, white 30%);
    -webkit-background-clip: text;
    color: transparent;
    font-weight: bold;
  }
  40% {
    background: linear-gradient(0deg, #FF79DA, #9356DC 40%, white 40%);
    -webkit-background-clip: text;
    color: transparent;
    font-weight: bold;
  }
  50% {
    background: linear-gradient(0deg, #FF79DA, #9356DC 50%, white 50%);
    -webkit-background-clip: text;
    color: transparent;
    font-weight: bold;
  }
  60% {
    background: linear-gradient(0deg, #FF79DA, #9356DC 60%, white 60%);
    -webkit-background-clip: text;
    color: transparent;
    font-weight: bold;
  }
  70% {
    background: linear-gradient(0deg, #FF79DA, #9356DC 70%, white 70%);
    -webkit-background-clip: text;
    color: transparent;
    font-weight: bold;
  }
  80% {
    background: linear-gradient(0deg, #FF79DA, #9356DC 80%, white 80%);
    -webkit-background-clip: text;
    color: transparent;
    font-weight: bold;
  }
  90% {
    background: linear-gradient(0deg, #FF79DA, #9356DC 90%, white 90%);
    -webkit-background-clip: text;
    color: transparent;
    font-weight: bold;
  }
  100% {
    background: linear-gradient(0deg, #FF79DA, #9356DC 100%, white 100%);
    -webkit-background-clip: text;
    color: transparent;
    font-weight: bold;
  }
}
@-webkit-keyframes heart_menu {
  0% {
    background: linear-gradient(0deg, #FF79DA, #9356DC 0%, rgb(248, 248, 248) 0%);
    -webkit-background-clip: text;
    color: transparent;
    font-weight: bold;
  }
  10% {
    background: linear-gradient(0deg, #FF79DA, #9356DC 10%, rgb(248, 248, 248) 10%);
    -webkit-background-clip: text;
    color: transparent;
    font-weight: bold;
  }
  20% {
    background: linear-gradient(0deg, #FF79DA, #9356DC 20%, rgb(248, 248, 248) 20%);
    -webkit-background-clip: text;
    color: transparent;
    font-weight: bold;
  }
  30% {
    background: linear-gradient(0deg, #FF79DA, #9356DC 30%, rgb(248, 248, 248) 30%);
    -webkit-background-clip: text;
    color: transparent;
    font-weight: bold;
  }
  40% {
    background: linear-gradient(0deg, #FF79DA, #9356DC 40%, rgb(248, 248, 248) 40%);
    -webkit-background-clip: text;
    color: transparent;
    font-weight: bold;
  }
  50% {
    background: linear-gradient(0deg, #FF79DA, #9356DC 50%, rgb(248, 248, 248) 50%);
    -webkit-background-clip: text;
    color: transparent;
    font-weight: bold;
  }
  60% {
    background: linear-gradient(0deg, #FF79DA, #9356DC 60%, rgb(248, 248, 248) 60%);
    -webkit-background-clip: text;
    color: transparent;
    font-weight: bold;
  }
  70% {
    background: linear-gradient(0deg, #FF79DA, #9356DC 70%, rgb(248, 248, 248) 70%);
    -webkit-background-clip: text;
    color: transparent;
    font-weight: bold;
  }
  80% {
    background: linear-gradient(0deg, #FF79DA, #9356DC 80%, rgb(248, 248, 248) 80%);
    -webkit-background-clip: text;
    color: transparent;
    font-weight: bold;
  }
  90% {
    background: linear-gradient(0deg, #FF79DA, #9356DC 90%, rgb(248, 248, 248) 90%);
    -webkit-background-clip: text;
    color: transparent;
    font-weight: bold;
  }
  100% {
    background: linear-gradient(0deg, #FF79DA, #9356DC 100%, rgb(248, 248, 248) 100%);
    -webkit-background-clip: text;
    color: transparent;
    font-weight: bold;
  }
}
@keyframes heart_menu {
  0% {
    background: linear-gradient(0deg, #FF79DA, #9356DC 0%, rgb(248, 248, 248) 0%);
    -webkit-background-clip: text;
    color: transparent;
    font-weight: bold;
  }
  10% {
    background: linear-gradient(0deg, #FF79DA, #9356DC 10%, rgb(248, 248, 248) 10%);
    -webkit-background-clip: text;
    color: transparent;
    font-weight: bold;
  }
  20% {
    background: linear-gradient(0deg, #FF79DA, #9356DC 20%, rgb(248, 248, 248) 20%);
    -webkit-background-clip: text;
    color: transparent;
    font-weight: bold;
  }
  30% {
    background: linear-gradient(0deg, #FF79DA, #9356DC 30%, rgb(248, 248, 248) 30%);
    -webkit-background-clip: text;
    color: transparent;
    font-weight: bold;
  }
  40% {
    background: linear-gradient(0deg, #FF79DA, #9356DC 40%, rgb(248, 248, 248) 40%);
    -webkit-background-clip: text;
    color: transparent;
    font-weight: bold;
  }
  50% {
    background: linear-gradient(0deg, #FF79DA, #9356DC 50%, rgb(248, 248, 248) 50%);
    -webkit-background-clip: text;
    color: transparent;
    font-weight: bold;
  }
  60% {
    background: linear-gradient(0deg, #FF79DA, #9356DC 60%, rgb(248, 248, 248) 60%);
    -webkit-background-clip: text;
    color: transparent;
    font-weight: bold;
  }
  70% {
    background: linear-gradient(0deg, #FF79DA, #9356DC 70%, rgb(248, 248, 248) 70%);
    -webkit-background-clip: text;
    color: transparent;
    font-weight: bold;
  }
  80% {
    background: linear-gradient(0deg, #FF79DA, #9356DC 80%, rgb(248, 248, 248) 80%);
    -webkit-background-clip: text;
    color: transparent;
    font-weight: bold;
  }
  90% {
    background: linear-gradient(0deg, #FF79DA, #9356DC 90%, rgb(248, 248, 248) 90%);
    -webkit-background-clip: text;
    color: transparent;
    font-weight: bold;
  }
  100% {
    background: linear-gradient(0deg, #FF79DA, #9356DC 100%, rgb(248, 248, 248) 100%);
    -webkit-background-clip: text;
    color: transparent;
    font-weight: bold;
  }
}
@-webkit-keyframes reveal_txt {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes reveal_txt {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
}

h1 {
  font-family: "Shrikhand", sans-serif;
}

h2 {
  font-size: 21px;
}

h3 {
  font-size: 16px;
}

p {
  font-size: 14px;
}

@font-face {
  font-family: "Shrikhand";
  src: url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
}
@font-face {
  font-family: "Roboto";
  src: url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap");
}
.btn {
  display: inline-block;
  padding: 16px 20px;
  background: linear-gradient(#FF79DA, #9356DC);
  border: none;
  font-size: 16px;
  border-radius: 30px;
  box-shadow: 0px 5px 6px 0px;
  cursor: pointer;
}
.btn:hover {
  opacity: 0.9;
  box-shadow: 0px 5px 10px 4px;
  transition: 150ms;
}
.btn a {
  color: #FFF;
  text-decoration: none;
  letter-spacing: 0.4px;
}

.header__home {
  text-align: center;
}
.header__home i {
  display: none;
}

.header__menu {
  display: flex;
  align-items: center;
  justify-content: left;
}
.header__menu i {
  padding-left: 10px;
  align-items: left;
}

footer {
  background-color: rgb(39, 38, 38);
  padding-top: 20px;
}
footer li {
  display: flex;
  align-items: center;
}
footer li i {
  padding-right: 10px;
  color: #FFF;
}
footer li a {
  text-decoration: none;
  color: #FFF;
  line-height: 2px;
  font-size: 12px;
}
footer li a:hover {
  color: #9356DC;
}

.logo__footer {
  font-family: "Shrikhand", sans-serif;
  color: #FFF;
  padding-left: 40px;
}

.loader {
  position: absolute;
  top: 30%;
  left: 40%;
  display: none;
}

.ring {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  box-shadow: 0 4px 0 #FF79DA;
  background: transparent;
  -webkit-animation: loader 2s linear infinite;
          animation: loader 2s linear infinite;
}

.text {
  font-family: "Shrikhand", sans-serif;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  position: absolute;
  text-align: center;
  line-height: 300px;
  font-size: 24px;
  background: transparent;
}

#home {
  text-align: center;
}

.town {
  display: flex;
  background-color: rgb(240, 240, 240);
  align-items: center;
  padding: 10px 0px;
  justify-content: center;
}
.town i {
  padding-left: 20px;
}
.town input {
  padding-left: 20px;
  border: none;
  background-color: rgb(240, 240, 240);
}

.reserv {
  padding: 20px 35px 50px;
  background-color: rgb(248, 248, 248);
}
.reserv h2 {
  padding: 0px 20px;
}
.reserv p {
  margin-bottom: 40px;
}

#function {
  padding: 20px;
}

.function__list {
  display: flex;
  align-items: center;
  gap: 20px;
  background-color: rgb(248, 248, 248);
  margin-bottom: 20px;
  border-radius: 20px;
  padding: 20px;
  box-shadow: 0px 5px 5px 2px rgb(240, 240, 240);
  cursor: pointer;
}
.function__list:hover {
  background-color: #e6d7f8;
  transition: 150ms;
}
.function__list:hover .function__list--icon {
  color: #9356DC;
  transition: 150ms;
}
.function__list--number {
  text-align: center;
  font-size: 12px;
  margin-left: -25px;
  padding: 5px 2px 0px 2px;
  background-color: #9356DC;
  color: #FFF;
  height: 20px;
  width: 20px;
  border-radius: 50%;
}
.function__list--icon {
  color: rgb(137, 137, 137);
}
.function__list--txt {
  font-size: 14px;
  font-weight: bold;
}

#restaurant {
  background-color: rgb(248, 248, 248);
  padding: 15px;
}

.card {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 230px;
  width: 100%;
  background-color: #FFF;
  border-radius: 20px;
  margin-bottom: 20px;
  box-shadow: 0px 5px 5px 2px rgb(240, 240, 240);
}
.card__img img {
  -o-object-fit: cover;
     object-fit: cover;
  max-height: 160px;
  width: 100%;
  border-radius: 20px 20px 0px 0px;
}
.card__img--new {
  position: absolute;
  right: 15px;
  top: 10px;
  font-size: 13px;
  font-weight: bold;
  border-radius: 2px;
  background-color: #99E2D0;
  color: #1c896e;
  padding: 6px 8px;
}
.card__txt {
  display: flex;
  justify-content: space-between;
  line-height: 7px;
  padding-left: 10px;
}
.card__txt--right {
  padding: 20px;
}
.card__txt--right .fa-heart {
  position: relative;
  background-color: transparent;
  font-size: 20px;
}
.card__txt--right .fa-heart:hover {
  -webkit-animation: heart_restaurant 0.8s 0s forwards;
          animation: heart_restaurant 0.8s 0s forwards;
}
.card a {
  text-decoration: none;
  color: black;
}

@media screen and (min-width: 768px) {
  .function {
    display: flex;
    justify-content: space-around;
  }
  .function__list {
    width: 25%;
  }
  .restaurants {
    display: flex;
  }
  .card {
    margin: 5px;
  }
  .card__img img {
    height: 120px;
  }
  .card__txt {
    line-height: 20px;
  }
  footer nav ul {
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: center;
    padding-bottom: 20px;
  }
  .logo__footer {
    display: flex;
    justify-content: center;
  }
}
.banner img {
  width: 100%;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
}

.menu {
  margin-top: -20px;
  border-radius: 20px 20px 0px 0px;
  background-color: rgb(248, 248, 248);
}
.menu__title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Shrikhand", sans-serif;
  margin: 0px 15px;
}
.menu h3 {
  padding-left: 15px;
  text-transform: uppercase;
  font-size: 14px;
}
.menu h3 span {
  border-bottom: 3px solid #99E2D0;
}

.fa-heart {
  position: relative;
  background-color: transparent;
  font-size: 20px;
}
.fa-heart:hover {
  -webkit-animation: heart_menu 0.8s 0s forwards;
          animation: heart_menu 0.8s 0s forwards;
}

.bloc {
  padding: 10px 0px;
}

.meal {
  display: flex;
  align-items: center;
  justify-content: space-between;
  opacity: 0;
  background-color: #FFF;
  border-radius: 10px;
  margin: 10px;
  overflow: hidden;
  line-height: 4px;
}
.meal__left {
  margin: 0px 10px;
}
.meal__left p {
  font-size: 13px;
}
.meal__right {
  display: flex;
  align-items: center;
  margin: 0px 10px;
}
.meal__right p {
  margin-right: -50px;
  font-size: 14px;
  font-weight: bold;
  transition: 1s;
}

.meal__enter:nth-of-type(1) {
  -webkit-animation: reveal_txt 2s forwards;
          animation: reveal_txt 2s forwards;
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

.meal__enter:nth-of-type(2) {
  -webkit-animation: reveal_txt 2s forwards;
          animation: reveal_txt 2s forwards;
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
}

.meal__enter:nth-of-type(3) {
  -webkit-animation: reveal_txt 2s forwards;
          animation: reveal_txt 2s forwards;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.meal__enter:nth-of-type(4) {
  -webkit-animation: reveal_txt 2s forwards;
          animation: reveal_txt 2s forwards;
  -webkit-animation-delay: 1.2s;
          animation-delay: 1.2s;
}

.meal__dish:nth-of-type(1) {
  -webkit-animation: reveal_txt 2s forwards;
          animation: reveal_txt 2s forwards;
  -webkit-animation-delay: 1.2s;
          animation-delay: 1.2s;
}

.meal__dish:nth-of-type(2) {
  -webkit-animation: reveal_txt 2s forwards;
          animation: reveal_txt 2s forwards;
  -webkit-animation-delay: 1.4s;
          animation-delay: 1.4s;
}

.meal__dish:nth-of-type(3) {
  -webkit-animation: reveal_txt 2s forwards;
          animation: reveal_txt 2s forwards;
  -webkit-animation-delay: 1.6s;
          animation-delay: 1.6s;
}

.meal__dessert:nth-of-type(1) {
  -webkit-animation: reveal_txt 2s forwards;
          animation: reveal_txt 2s forwards;
  -webkit-animation-delay: 1.8s;
          animation-delay: 1.8s;
}

.meal__dessert:nth-of-type(2) {
  -webkit-animation: reveal_txt 2s forwards;
          animation: reveal_txt 2s forwards;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

.meal__dessert:nth-of-type(3) {
  -webkit-animation: reveal_txt 2s forwards;
          animation: reveal_txt 2s forwards;
  -webkit-animation-delay: 2.2s;
          animation-delay: 2.2s;
}

.check_bloc {
  background-color: #99E2D0;
  color: white;
  font-size: 20px;
  padding: 24px 18px;
  border-radius: 0px 10px 10px 0px;
  position: relative;
  right: -70px;
  transition: 1s;
}

.meal .fa-circle-check {
  position: relative;
  transition: transform, 1.5s;
}

.meal:hover .check_bloc {
  right: -10px;
}

.meal:hover .fa-circle-check {
  transform: rotate(-360deg);
}

.meal:hover .meal__right p {
  margin-right: 0;
}

.order {
  text-align: center;
  padding-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .menu h3 {
    text-align: center;
  }
  .bloc {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  .meal {
    width: 40%;
  }
}
@media screen and (min-width: 1024px) {
  .meal {
    width: 30%;
  }
}/*# sourceMappingURL=style.css.map */