@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap");
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
}

h1 {
  font-family: "Shrikhand", sans-serif;
}

h2 {
  font-size: 21px;
}

h3 {
  font-size: 16px;
}

p {
  font-size: 14px;
}

@font-face {
  font-family: "Shrikhand";
  src: url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
}
@font-face {
  font-family: "Roboto";
  src: url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap");
}
button {
  background: linear-gradient(#FF79DA, #9356DC);
  padding: 12px;
  border: none;
  border-radius: 20px;
  box-shadow: 0px 5px 10px 0px;
  position: relative;
  z-index: 1;
}
button:hover {
  opacity: 0.9;
  box-shadow: 0px 5px 10px 4px;
  transition: 150ms;
}
button a {
  text-decoration: none;
  color: #FFF;
  font-size: 13px;
}

.header__home {
  text-align: center;
}
.header__home i {
  display: none;
}

.header__menu {
  display: flex;
  align-items: center;
  gap: 15%;
}
.header__menu i {
  padding-left: 20px;
}

footer {
  background-color: rgb(39, 38, 38);
  padding-top: 20px;
}
footer li {
  display: flex;
  align-items: center;
}
footer li i {
  padding-right: 10px;
  color: #FFF;
}
footer li a {
  text-decoration: none;
  color: #FFF;
  line-height: 2px;
  font-size: 12px;
}

.logo__footer {
  font-family: "Shrikhand", sans-serif;
  color: #FFF;
  padding-left: 40px;
}

#home {
  text-align: center;
}

.town {
  display: flex;
  background-color: rgb(240, 240, 240);
  align-items: center;
  padding: 10px 0px;
  justify-content: center;
}
.town i {
  padding-left: 20px;
}
.town input {
  padding-left: 20px;
  border: none;
  background-color: rgb(240, 240, 240);
}

.reserv {
  padding: 20px 35px 50px;
  background-color: rgb(248, 248, 248);
}
.reserv h2 {
  padding: 0px 20px;
}
.reserv p {
  margin-bottom: 40px;
}

#function {
  padding: 20px;
}

.function__list {
  display: flex;
  align-items: center;
  gap: 20px;
  background-color: rgb(248, 248, 248);
  margin-bottom: 20px;
  border-radius: 20px;
  padding: 20px;
  box-shadow: 0px 5px 5px 2px rgb(240, 240, 240);
}
.function__list:hover {
  background-color: #e6d7f8;
  transition: 150ms;
}
.function__list:hover .function__list--icon {
  color: #9356DC;
  transition: 150ms;
}
.function__list--number {
  text-align: center;
  font-size: 12px;
  margin-left: -25px;
  background-color: #9356DC;
  color: #FFF;
  height: 20px;
  width: 20px;
  border-radius: 50%;
}
.function__list--icon {
  color: rgb(137, 137, 137);
}
.function__list--txt {
  font-size: 12px;
  font-weight: bold;
}

#restaurant {
  background-color: rgb(248, 248, 248);
  padding: 15px;
}

.card {
  display: flex;
  flex-direction: column;
  height: 230px;
  width: 100%;
  background-color: #FFF;
  border-radius: 20px;
  margin-bottom: 20px;
  box-shadow: 0px 5px 5px 2px rgb(240, 240, 240);
}
.card__img img {
  -o-object-fit: cover;
     object-fit: cover;
  max-height: 160px;
  width: 100%;
  border-radius: 20px 20px 0px 0px;
}
.card__img--new {
  display: none;
  top: -150px;
  left: 230px;
  font-size: 12px;
  background-color: #99E2D0;
  color: #1c896e;
  padding: 6px;
}
.card__txt {
  display: flex;
  justify-content: space-between;
  line-height: 7px;
  padding-left: 10px;
}
.card__txt--right {
  padding: 20px;
}

.banner img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.menu {
  width: 100%;
  border-radius: 20px 20px 0px 0px;
  margin-top: -40px;
  background-color: rgb(248, 248, 248);
}
.menu__title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Shrikhand", sans-serif;
  margin: 0px 15px;
}

.bloc {
  padding: 10px 0px;
}
.bloc h3 {
  padding-left: 15px;
  text-transform: uppercase;
  font-size: 14px;
}
.bloc h3 span {
  border-bottom: 3px solid #99E2D0;
}

.meal {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #FFF;
  border-radius: 10px;
  margin: 10px;
  line-height: 4px;
}
.meal__left {
  margin: 0px 10px;
}
.meal__left p {
  font-size: 13px;
}
.meal__right {
  display: flex;
  align-items: center;
  margin: 0px 10px;
}
.meal__right p {
  font-size: 14px;
  font-weight: bold;
}/*# sourceMappingURL=style.css.map */