.loader {
    position: absolute;
    height: 150%;
    width: 100%;
    background: white;
    z-index: 1;
    display: none;
}

.ring {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    box-shadow: 0 4px 0 $color-secondary;
    background: transparent;
    animation: loader 2s linear infinite;
}

.text {
    font-family: 'Shrikhand', sans-serif;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    position: absolute;
    text-align: center;
    line-height: 300px;
    font-size: 24px;
    background: transparent;
}

#home {
    text-align: center;
}

.town {
    display: flex;
    background-color: $background-color1;
    align-items: center;
    padding: 10px 0px;
    justify-content: center;

    i {
        padding-left: 20px;
    }

    input {
        padding-left: 20px;
        border: none;
        background-color: $background-color1;
    }
}

.reserv {
    padding: 20px 35px 50px;
    background-color: $background-color2;

    h2 {
        padding: 0px 20px;
    }

    p {
        margin-bottom: 40px;
    }
}

#function {
    padding: 20px;
}

.function__list {
    display: flex;
    align-items: center;
    gap: 20px;
    background-color: $background-color2;
    margin-bottom: 20px;
    border-radius: 20px;
    padding: 20px;
    box-shadow: $shadow;
    cursor: pointer;

    &:hover {
        background-color: $background-function;
        transition: 150ms;
    }

    &:hover .function__list--icon {
        color: $color-primary;
        transition: 150ms;
    }

    &--number {
        text-align: center;
        font-size: 12px;
        margin-left: -25px;
        padding: 5px 2px 0px 2px;
        background-color: $color-primary;
        color: $color-btn;
        height: 20px;
        width: 20px;
        border-radius: 50%;
    }

    &--icon {
        color: $color-icon;
    }

    &--txt {
        font-size: 14px;
        font-weight: bold;
    }
}

#restaurant {
    background-color: $background-color2;
    padding: 15px;
}

.card {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 230px;
    width: 100%;
    background-color: $background-color3;
    border-radius: 20px;
    margin-bottom: 20px;
    box-shadow: $shadow;

    &__img {

        img {
        object-fit: cover;
        max-height: 160px;
        width: 100%;
        border-radius: 20px 20px 0px 0px;
        }

        &--new {
            position: absolute;
            right: 15px;
            top: 10px;
            font-size: 13px;
            font-weight: bold;
            border-radius: 2px;
            background-color: $color-tertiary;
            color: $color-new;
            padding: 6px 8px;
        }
    }

    &__txt {
        display: flex;
        justify-content: space-between;
        line-height: 7px;
        padding-left: 10px;

        &--right {
            padding: 20px;
        }

        &--right .fa-heart {
            position: relative;
            background-color: transparent;
            font-size: 20px;
        }

        &--right .fa-heart:hover {
            animation: heart_restaurant .8s 0s forwards;
        }
    }

    a {
        text-decoration: none;
        color: black;
    }
}





@media screen and (min-width: 768px) {

    .function {
        display: flex;
        justify-content: space-around;

        &__list {
            width: 25%;
        }
    }

    .restaurants {
        display: flex;
    }

    .card {
        margin: 5px;
    
        &__img img{
        height: 120px;
        }

        &__txt {
            line-height: 20px;
        }
    }

    footer nav ul {
        display: flex;
        gap: 30px;
        align-items: center;
        justify-content: center;
        padding-bottom: 20px;
    }

    .logo__footer {
        display: flex;
        justify-content: center;
    }
}
