

#home {
    text-align: center;
}

.town {
    display: flex;
    background-color: $background-color1;
    align-items: center;
    padding: 10px 0px;
    justify-content: center;

    i {
        padding-left: 20px;
    }

    input {
        padding-left: 20px;
        border: none;
        background-color: $background-color1;
    }
}

.reserv {
    padding: 20px 35px 50px;
    background-color: $background-color2;

    h2 {
        padding: 0px 20px;
    }

    p {
        margin-bottom: 40px;
    }
}

#function {
    padding: 20px;
}

.function__list {
    display: flex;
    gap: 20px;
    background-color: $background-color2;
    margin-bottom: 20px;
    border-radius: 20px;
    padding: 20px;
    box-shadow: $shadow;

    &--number {
        text-align: center;
        font-size: 12px;
        margin-left: -25px;
        background-color: $color-primary;
        color: $color-btn;
        height: 20px;
        width: 20px;
        border-radius: 50%;
    }

    &--icon {
        color: $color-icon;
    }

    &--txt {
        font-size: 12px;
        font-weight: bold;
    }
}

#restaurant {
    background-color: $background-color2;
    padding: 15px;
}

.card {
    display: flex;
    flex-direction: column;
    height: 230px;
    width: 100%;
    background-color: $background-color3;
    border-radius: 20px;
    margin-bottom: 20px;
    box-shadow: $shadow;

    &__img {

        img {
        object-fit: cover;
        max-height: 160px;
        width: 100%;
        border-radius: 20px 20px 0px 0px;
        }

        &--new {
            display: none;
            top: -150px;
            left: 230px;
            font-size: 12px;
            background-color: $color-tertiary;
            color: $color-new;
            padding: 6px;
        }
    }

    &__txt {
        display: flex;
        justify-content: space-between;
        line-height: 7px;
        padding-left: 10px;

        &--right {
            padding: 20px;
        }
    }
}