footer {
    background-color: $background-footer;
    padding-top: 20px;

    li {
        display: flex;
        align-items: center;
        
        i {
            padding-right: 10px;
            color: $color-footer;
        }

        a {
            text-decoration: none;
            color: $color-footer;
            line-height: 2px;
            font-size: 12px;
        }

        a:hover {
            color: $color-primary;
        }
    }
}

.logo__footer {
    font-family: 'Shrikhand', sans-serif;
    color: $color-footer;
    padding-left: 40px;
}

@media screen and (min-width: 768px) {

    footer nav ul {
        display: flex;
        gap: 30px;
        align-items: center;
        justify-content: center;
        padding-bottom: 20px;
    }

    .logo__footer {
        display: flex;
        justify-content: center;
    }
}