.header__home {
    text-align: center;

    i {
        display: none;
    }
}

.header__menu {

    i{
        position: absolute;
        padding: 10px 20px;
        align-items: left;
    }

    h1 {
        text-align: center;
    }
}
